# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:password@localhost:5432/mp_customers?schema=public"

MAIL_HOST=""
# MAIL_PORT=25
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="deployer72@gmail.com"
# MAIL_FROM_NAME=YourAppName
TO_EMAIL="tarikuka.aa@gmail.com"


renewPassword=

JWT_SECRET
